@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin background-clip {
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
}

@mixin centerXY {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Media Query Manager 
/*
0-600px :phone

600-900px :tablet portrate 

900-1200 :tablet landscape

1200-1800 :normal style applies

1800+px: big desktop

    $breakpoint argument choices
    -phone
    -tab-port
    -tab-land
    -big-desktop

    for miedia query, em is the best unit because rem is not supported by all browser. 1em = 16px by default browser setting
*/

@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media (max-width: 37.5em) {
            //600px
            @content
        }
    }
    @if $breakpoint==tab-port {
        @media (max-width: 56.25em) {
            //900px
            @content
        }
    }
    @if $breakpoint==tab-land {
        @media (max-width: 75em) {
            //1200px
            @content
        }
    }
    @if $breakpoint==big-desktop {
        @media (min-width: 112.5em) {
            //1800px
            @content
        }
    }
}