*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    /* enfore all elements to inherite box-sizing*/
}

html {
    // this defines what 1 rem is 
    font-size: 62.5%; // 1rem=10px; 1em = 16px;
    /* this is relative to browser default font-size 16px , so the cacluted font-size is 10px*/
    /*
     -phone -tab-port -tab-land -big-desktop
    */
    @include respond(ig-desktop) {
        font-size: 75%; // 1 rem=12px 12/16 = 75%;
    }
    @include respond(tab-land) {
        font-size: 56.25%; // 1rem=9px;
    }
    @include respond(tab-port) {
        font-size: 50%; //1rem=8px;  
    }
}

body {
    box-sizing: border-box;
    padding: 3rem;
    position: relative;
}