*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; /* enfore all elements to inherite box-sizing*/
    
}

html {
    // this defines what 1 rem is 
    font-size: 62.5%;/* this is relative to browser default font-size 16px , so the cacluted font-size is 10px*/
}

body {
    box-sizing: border-box;
    padding: 3rem;
}