/*
    utiliti class is a very simple class that have only one goal;
*/
.u-center-text{
    text-align: center;
}
.u-margin-bottom-big{
    margin-bottom: 8rem;
}
.u-margin-bottom-small{
    margin-bottom: 1.5rem;
}
.u-margin-bottom-top{
    margin-top: 8rem; 
}
.u-margin-bottom-top-huge{
    margin-top: 10rem; 
}